@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
}

form {
  padding: 20px;
  justify-content: space-around;
  border-radius: 30px;
}

.input,
button {
  width: 90%;
  margin: 10px;
  height: 50px;
  padding: 5px;
  border-radius: 20px;
}

button {
  width: 20%;
}

button:hover {
  background-color: var(--color2);
  color: var(--color5) !important;
  transition: .5s ease-in-out;
}

label {
  font-weight: 600;
  display: block;
}
