@import "tailwindcss";

#root {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
}

.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  justify-content: space-around;
  border-radius: 30px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.popup .addbtn {
  color: white;
  font-size: 2rem;
  border: none;
}

.addbtn:hover {
  border: none;
  background: transparent;
}

.search {
  width: max-content;
  height: 100%;
}

.form-container {
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  max-width: 300px;
  width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 10px;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
